*{
  margin:0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  .home {
    header {
      background-color: #1e89e0;
      .navbar-header{
        .navbar-brand{
          span{
            color: #FFFFFF;
            font-size: 32px;
            font-weight: 400;
            font-family: "幼圆";
          }
        }
      }
      .collapse.navbar-collapse{
        .navbar-nav{
          li{
            padding: 0 10px;
            a{
              display: block;
              height: 100%;
              color: #FFFFFF;
              text-align: center;
              font-size: 1.2em;
            }
            a:hover{
              background-color: #006bc7;
            }
          }
          .dropdown{
            .dropdown-menu{
              li{
                a{
                  color: #000;
                  font-size: 1.0em;
                  span.glyphicon{
                    display: inline-block;
                  }
                  span{
                    color: #666;
                  }
                }
                a:hover{
                  background-color: #e6e6e6;
                }
              }
            }
          }
        }
      }
    }
    .content{
      overflow: hidden;
      .shopnav{
        line-height: 57px;
        overflow: hidden;
        .location{
          float: left;
          span:nth-of-type(1){
            color: #999;
          }
          span:nth-of-type(2){
            color: #000;
          }
          a{
            text-decoration: none;
          }
        }
        .shopnav-search {
          line-height: normal;
          .place-search {
            float: right;
            margin: 10px 0;
            height: 32px;
            border: 1px solid #ccc;
            background: #fff;
            position: relative;
            z-index: 3;
          }
          .place-search-btn {
            float: right;
            width: 46px;
            text-align: center;
            color: #999;
            font-size: 20px;
            cursor: pointer;
            border: none;
            outline: 0;
            background-color: transparent;
          }
          .place-search-btn, .place-search-input {
            padding: 0 8px;
            margin: 4px 0;
            line-height: 24px;
            border: none;
            text-shadow: none;
            outline: none;
          }
        }
      }
      .tab-place{
        overflow: hidden;
        .right{
          float: right;
          .takeout{
            width: 186px;
            height: 55px;
            vertical-align: middle;
          }
        }
      }
      .shoper-items{
        border: 1px solid #e6e6e6;
        background-color: #fff;
        &>span{
          color: #999;
          display: inline-block;
          margin-left: 5px;
          padding: 0 10px;
        }
        .item{
          cursor: pointer;
          white-space: nowrap;
          display: inline-block;
          margin: 5px 6px;
          padding: 5px 10px;
          color: #666;
          text-decoration: none;
        }
        .item:hover{
          background-color: #f6f6f6;
        }
        .item.active{
          line-height: 36px;
          background-color: #f6f6f6;
          border-radius: 0;
          margin: 0;
          padding: 0 16px;
          height: 38px;
        }
      }
      .shoper-list{
        .row{
          margin-left: 0;
          margin-right: 0;
          .col-md-3{
            padding-right: 0px;
            padding-left: 0px;
          }
        }
        margin-top: 5%;
        border: 1px solid #e6e6e6;
        .rsblock{
          .item{
            overflow: hidden;
            background-color: #fff;
            padding: 20px 0px;
            .left{
              padding: 20px;
              float: left;
              img{
                width: 70px;
                height: 70px;
              }
              span{
                display: block;
                color: #999;
                padding: 10px;
              }
            }
            .right{
              padding: 10px;
              .rsblock-title{
                h4{
                  font-size: 16px;
                  margin-bottom: 6px;
                  font-weight: 600;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  color: #333;
                }
              }
             .rsblock-cost{
               color: #999;
               font-size: 12px;
               padding: 5px 0;
             }
              .rsblock-activity{
                i{
                  display: inline-block;
                  vertical-align: middle;
                  font-style: normal;
                  font-size: 12px;
                  line-height: 16px;
                  overflow: hidden;
                  text-align: center;
                  width: 18px;
                  border-radius: 2px;
                  margin-right: 3px;
                  padding: 1px;
                  background-color: #f63;
                  white-space: nowrap;
                  background-color: #fff;
                  border: 1px solid #999;
                }
              }
            }
          }
        }
      }
      .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -295px;
        background-color: #504d53;
        //width: 330px;
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
        z-index: 7;
        .slider{
          //width: 330px;
          width: 35px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          background-color: #504d53;
          .slider-tabs{
            position: absolute;
            width: 100%;
            //top: 50%;
            top:400px;
            margin-top: -220px;
            .cartbtn{
              display: block;
              color: #ccc;
              line-height: 16px;
              padding: 7px 8px 10px;
              margin-bottom: 8px;
              margin-top: 8px;
              font-size: 14px;
              font-weight: 700;
              text-decoration: none;
              cursor: pointer;
              i{
                font-size: 16px;
                padding: 5px 0;
              }
            }
            .cartbtn:hover{
              background-color:#1e89e0;
              color: white;
            }
          }
          .cartbtn.active{
            background-color: #26a2ff;
            color: white;
          }
        }
        .hide{
          width: 0;
        }
        .sidebar-content {
          margin-left: 35px;
          height: 100%;
          width: 295px;
          overflow: auto;
          background-color: #e6e6e6;
          .sidebarcart-caption {
            background: #fff;
            font-size: 16px;
            color: #999;
            padding: 5px 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #ddd;
            >a{
              max-width: 240px;
              display: inline-block;
              line-height: 16px;
              color: #333;
            }
            >a,.sidebarcart-name {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            .glyphicon-menu-right {
              float: right;
              cursor: pointer;
              line-height: 20px;
              margin-left: 15px;
              color: #666;
              &:hover{
                color:#26a2ff;
              }
            }
          }
          .sidebarcart{
            dl {
              padding: 10px;
              background-color: #fff;
              border: solid #ddd;
              border-width: 1px 0;
              margin-bottom: 10px;
              dt {
                font-size: 12px;
                border-bottom: 1px solid #ddd;
                padding: 2px 3px;
                color: #666;
                .sidebarcart-clear {
                  float: right;
                }
              }
              li {
                margin: 5px 0;
                padding: 5px 10px;
                font-size: 12px;
                line-height: 20px;
                color: #666;
                &:hover{
                  background: #f9f9f9;
                  .sidebarcart-quantity{
                    span {
                      opacity: 1;
                      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                      visibility: visible;
                    }

                  }
                }

                .sidebarcart-name {
                  float: left;
                  width: 45%;
                }
                .sidebarcart-quantity {
                  float: left;
                  width: 26%;
                  span:first-child {
                    border-right: none;
                  }
                  span{
                    cursor:pointer;
                  }
                  input {
                    font-size: 12px;
                    color: #666;
                  }
                  input,span {
                    float: left;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    border: 1px solid #ddd;
                  }
                  input+span {
                    border-left: none;
                  }
                }
                .sidebarcart-price {
                  font-weight: 700;
                  float: right;
                  color: #f17530;
                }
              }
            }
          }
          .sidebarcart-summary {
            padding: 20px 10px;
            text-align: right;
            border-top: 1px solid #ddd;
            width: 295px;
            left: 35px;
            bottom: 0;
            background: #fff;
            opacity: .95;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
            position: absolute;
            p {
              font-size: 14px;
              .color-stress {
                color: #f74342;
              }
            }
            .sidebarcart-submit {
              display: block;
              border: 0;
              margin-top: 10px;
              line-height: 32px;
              width: 100%;
              text-align: center;
              background: #fa5858;
              color: #fff;
            }
          }
          .sidebarcart-notice {
            padding: 5px 10px;
            font-size: 18px;
            text-align: center;
            color: #333;
            i {
              color: #999;
              margin: 30px auto 20px;
              font-size: 50px;
              display: block;
            }
            h3 {
              font-weight: 400;
              font-size: 18px;
              text-align: center;
            }
            p {
              color: #999;
              font-size: 12px;
              text-align: center;
            }
          }
        }
      }

    }
    .footer{
      width: 100%;
      overflow: hidden;
      .footer-copyright {
        font-size: 12px;
        clear: both;
        padding-top: 60px;
        color: #999;
        text-align: center;
        .owner {
          color: #0e0e0e;
        }
        a{
          color: inherit;
        }
      }
      .serif {
        font-family: Palatino,Optima,Georgia,serif;
      }
      .footer-police {
        padding: .5em 0;
        text-align: center;
      }
    }
  }
}