* {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%; }
  html body {
    width: 100%;
    height: 100%; }
    html body .login_all {
      width: 100%;
      overflow: hidden; }
      html body .login_all .login_top {
        width: 100%;
        height: 100%; }
        html body .login_all .login_top .login_form {
          width: 300px;
          height: 100%;
          margin: 0 auto;
          position: relative; }
          html body .login_all .login_top .login_form .log_msg {
            position: absolute;
            border-radius: 100px;
            font-size: 50px;
            background-color: rgba(0, 0, 0, 0.5);
            top: 120px;
            margin: 0 auto;
            z-index: 2;
            color: #fff;
            padding: 0 25px;
            width: 110%;
            text-align: center; }
          html body .login_all .login_top .login_form .login_logo {
            height: 121px;
            margin-top: 60px; }
            html body .login_all .login_top .login_form .login_logo img {
              width: 141px;
              height: 56px;
              display: inline-block;
              margin-left: 80px; }
            html body .login_all .login_top .login_form .login_logo .login_choose {
              width: 100%;
              height: 22px;
              margin-top: 35px; }
              html body .login_all .login_top .login_form .login_logo .login_choose a {
                width: 58px;
                height: 22px;
                font-size: 14px;
                text-decoration: none;
                display: inline-block;
                margin-left: 55px;
                text-align: center;
                color: black;
                /*&:nth-of-type(1){
                  color: #2395ff;
                  border-bottom: 2px solid #2395ff;
                }*/
                /*&:nth-of-type(2){
                  color: black;
                }*/ }
          html body .login_all .login_top .login_form .login_input {
            height: 333px; }
            html body .login_all .login_top .login_form .login_input input {
              height: 50px; }
              html body .login_all .login_top .login_form .login_input input:nth-of-type(1) {
                margin-top: 10px; }
            html body .login_all .login_top .login_form .login_input p {
              color: #999; }
            html body .login_all .login_top .login_form .login_input div:nth-of-type(3) {
              position: relative; }
            html body .login_all .login_top .login_form .login_input a {
              text-decoration: none;
              position: absolute;
              right: 0;
              bottom: 0; }
            html body .login_all .login_top .login_form .login_input button {
              width: 300px;
              height: 42px;
              background-color: #4cd96f;
              border: none;
              margin-top: 30px;
              color: white;
              font-size: 16px;
              line-height: 42px;
              text-align: center; }
              html body .login_all .login_top .login_form .login_input button:hover {
                background-color: #4cd964; }
            html body .login_all .login_top .login_form .login_input #log_form {
              position: absolute;
              top: 121px; }
            html body .login_all .login_top .login_form .login_input #reg_form {
              position: absolute;
              top: 121px;
              display: none; }
    html body .login_down {
      width: 100%;
      height: 83px; }
      html body .login_down .down_center {
        width: 703.39px;
        height: 83px;
        margin: 0 auto;
        margin-top: 20px; }
        html body .login_down .down_center h2 {
          width: 703.39px;
          height: 18px;
          font-size: 12px;
          text-align: center;
          line-height: 18px;
          color: #555;
          margin: 0 auto; }
        html body .login_down .down_center p {
          width: 703.39px;
          height: 18px;
          font-size: 12px;
          margin-top: 0px;
          color: #999; }
          html body .login_down .down_center p a {
            text-decoration: none;
            color: #999; }
        html body .login_down .down_center img {
          display: inline-block;
          margin-left: 300px;
          width: 86px;
          height: 30px; }
    html body .active {
      color: #2395ff !important;
      border-bottom: 2px solid #2395ff; }

/*# sourceMappingURL=login.css.map */
