<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="http://api.map.baidu.com/api?v=2.0&ak=vYG4WQEFtf0XVOEciK76f9RrImqkYb1x"></script>
    <script src="./bower_components/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="index_top">
        <div class="top_center">
            <div class="index_head">
                <h1>
                    <a href="javascript:void(0)">
                        <img src="img/logo.png" alt="">
                    </a>
                </h1>
                <span class="head_right">
                    <a href="login.html">登录</a>
                    <span>|</span>
                    <a href="login.html">注册</a>
                    <a href="javascript:void(0)" class="open">我要开店</a>
                </span>
            </div>
            <div class="index_logo">
                <h2>
                    <img src="img/logo.svg" alt="" id="logo">
                </h2>
                <div class="index_search">
                    <div class="index_address">
                        <a id="now_address">
                            衡阳
                            <div class="angle"></div>
                        </a>
                        <div class="choose_address" id="choose_address">
                            <div>
                                <h3>请选择你所在的城市</h3>
                                <span>选城市</span>
                                <span> > 定位置 > 叫外卖</span>
                            </div>
                            <div>
                                <div>
                                    <span>猜你在</span>
                                    <button id="button">衡阳</button>
                                </div>
                                <div>
                                    <input type="text" placeholder="请输入城市">
                                </div>
                            </div>
                            <div id="address"></div>
                        </div>
                    </div>
                    <div class="index_form" ng-app="myApp" ng-controller="myCtrl">
                        <form action="">
                            <input type="text" class="index_input" id="search_city" ng-model="text" placeholder="请输入你的收获地址（写字楼，小区，街道或者学校）" autocomplete="off">
                            <button type="submit">搜索</button>
                        </form>
                        <div id="search_result">
                            <ul id="show_address">
                                <li ng-repeat="item in addresslist | filter:text">{{item}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index_down">
        <div class="down_top">
            <div class="index_app">
                <img src="img/app.png" alt="">
                <span>扫码下载APP</span>
            </div>
            <div class="index_text">
                <p>新用户首次下单</p>
                <strong class="index_strong">最高立减30元</strong>
                <p>立即下载APP，享更多优惠吧</p>
            </div>
        </div>
        <p class="index_link">
            <a href="javascript:void(0)">我要开店</a><span>|</span>
            <a href="javascript:void(0)">联系我们</a><span>|</span>
            <a href="javascript:void(0)">服务条款和协议</a><span>|</span>
            <a href="javascript:void(0)">加入我们</a><span>|</span>
            <a href="javascript:void(0)">蜂鸟配送</a><span>|</span>
            <a href="javascript:void(0)">失信人员查询</a>
        </p>
        <div class="down_down">
            <p>互联网药品信息服务资格证书：</p>
            <a href="javascript:void(0)">(沪)-经营性-2016-0011</a>
            | <p>增值电信业务许可证 :</p>
            <a href="javascript:void(0)">沪B2-20150033</a>
            |
            <a href="javascript:void(0)">沪ICP备 09007032</a>
            |
            <a href="javascript:void(0)">上海工商行政管理</a>
            <p>Copyright ©2008-2018 上海拉扎斯信息科技有限公司, All Rights Reserved.</p>
        </div>
        <div class="index_police">
            <a href="javascript:void(0)">
                <img src="img/down.jpg" alt="已通过沪公网备案，备案号 310100103568">
            </a>
        </div>
    </div>
    <div id="map"></div>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="../control/indexCtrl.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>